<header role="banner"><p>Put company logo, etc. here.</p></header>
<nav role="navigation">
  <ul>
    <li>Put navigation here</li>
  </ul>
</nav>
<main role="main"><p>Put main content here.</p></main>
<footer role="contentinfo"><p>Put copyright, etc. here.</p></footer>

<router-outlet></router-outlet>
